
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 4px;
 
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    color: #080808;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #060100;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(7, 7, 7);
    text-decoration:none;
    }
    .mat-toolbar {
        background-color: #000 !important;
        color: #fff !important;
      }
      
      .mat-icon-button {
        min-width: 40px;
        min-height: 40px;
        padding: 0;
      }
      
      .mat-raised-button {
        min-width: 120px;
        min-height: 40px;
        padding: 0 16px;
      }
      
      .search-container {
        display: flex;
        align-items: center;
        margin-left: 16px;
      }
      
      .mat-form-field {
        flex-grow: 1;
        margin-right: 8px;
      }
      
      .mat-input-element {
        color: #fff;
      }
      
      .mat-icon-button.mat-suffix {
        min-width: 32px;
        min-height: 32px;
        padding: 0;
      }
      
      .mat-toolbar {
        display: flex;
        justify-content: space-between; /* יסדר את האלמנטים לכיוון ימין ושמאל */
        align-items: center; /* יכין את האלמנטים לאמצע ה-Toolbar באופן אנכי */
      }
      
      .searchbar {
        display: flex;
        align-items: center; /* יכין את הקלט לאמצע ה-Div באופן אנכי */
      }
      
  